
Museo/\.idea/

MyApplication/

Kinect_cs/Microsoft\.Kinect\.Toolkit\.Controls/\.vs/

Kinect_cs/WpfApp2/\.vs/

Kinect_cs/MuseoGoTKinectv1\.8/\.vs/

Kinect_cs/MuseoGoTKinectv1\.8/\.Debug/

Kinect_cs/Microsoft.Kinect.Toolkit

Kinect_cs/Microsoft.Kinect.Toolkit.Controls



Kinect_cs/MuseoGoTKinectv1\.8/AnyCPU\.Debug/

Kinect_cs/MuseoGoTKinectv1\.8/obj/
